name: Build and Test
on:
  push:
    branches:
    - 'master'
jobs:
  build-docker:
    name: Build and Push Docker
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
        - 23
        - 20
        - 18
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        buildkitd-flags: --debug

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: '${{ secrets.DOCKERHUB_USERNAME }}'
        password: '${{ secrets.DOCKERHUB_TOKEN }}'

    - name: Set tag name based on branch
      id: set_tag
      run: |
        if [[ "${{ github.ref_name }}" == "master" ]]; then
          echo "tags=davilson18/headlessbrowserapi:latest" >> $GITHUB_OUTPUT
        else
          GITHUB_REFNAME=${{ github.ref_name }}
          BRANCH_NAME=${GITHUB_REFNAME//\//_}
          echo "tags=davilson18/headlessbrowserapi:$BRANCH_NAME" >> $GITHUB_OUTPUT
        fi

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile.node${{ matrix.node-version }}
        platforms: linux/amd64,linux/arm64
        push: true
        tags: node${{ matrix.node-version }}-${{ steps.set_tag.outputs.tags }}
        cache-from: type=registry,ref=davilson18/headlessbrowserapi:buildcache-${{ matrix.node-version }}
        cache-to: type=registry,ref=davilson18/headlessbrowserapi:buildcache-${{ matrix.node-version }},mode=max
